/* FONTS */
@font-face {
    font-family: Boldenvan;
    src: url(/fonts/Boldenvan.ttf);
}

@font-face {
    font-family: Asdonuts;
    src: url(/fonts/Asdonuts.ttf);
}

@font-face {
    font-family: Lato-Black;
    src: url(/fonts/Lato-Black.ttf);
}

@font-face {
    font-family: Lato-BlackItalic;
    src: url(/fonts/Lato-BlackItalic.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-BoldItalic;
    src: url(/fonts/Lato-BoldItalic.ttf);
}

@font-face {
    font-family: Lato-Italic;
    src: url(/fonts/Lato-Italic.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: Lato-LightItalic;
    src: url(/fonts/Lato-LightItalic.ttf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(/fonts/Lato-Regular.ttf);
}

/* ROOT */
:root {
    --main-color: rgb(255, 37, 153);
    --second-color: rgb(189, 230, 255);
    --third-color: rgb(250, 211, 224);
    --fourth-color: rgb(255, 138, 176);
    --fifth-color: rgb(229, 203, 255);
    --menu-back: rgba(0, 0, 0, 0.5);
    --main-Font: Boldenvan;
    --second-Font: Lato-Regular;
    --third-Font: Lato-Bold;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(255, 138, 176), rgb(255, 255, 255));
    height: 100%;
}

@media screen and (max-width: 480px) {

    /* QUE DICEN DE NOSOTROS */

    .card--recomendacion{
        width: auto;
    }

    .button--coment{
        font-family: var(--second-Font);
        text-decoration: none;
        color: white;
        background-color: var(--main-color);
        border-radius: 5px;
        padding: 8px;
        margin-left: 50%;
    }


    /* DESTACADOS */
    g
    .destac{
        margin-top: 5px;
        align-items: center;
        text-decoration: none;

    }
    
    .title--destac {
        grid-area: "title";
        text-align: center;
        font-size: 30px;
        font-family: var(--main-Font);
        color: var(--main-color)
    }

    .img--destac{
    position: relative;
    margin-left: 5%;
    flex-wrap:nowrap
}

    .button--shop{
    font-family: var(--second-Font);
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 8px;
    margin-left: 60%;
    }


    /* PREGUNTAS FRECUENTES */
    .container--answer {
        text-align: justify;
        width: auto;
        padding: 10px;
    }
    
    
    .title--answer {
        font-size: 30px;
        font-family: var(--main-Font);
        color: var(--main-color);
        text-align: left;
    
    }
    
    .answer {
        font-size: 20px;
        font-family: var(--second-Font);
        text-align: left;
        
    }
    
    details {
        padding: 5px;
    }
    
    summary {
        padding: 10px;
        font-family: var(--third-Font);
    }



/* SEGUINOS EN LAS REDES */
footer {
    margin: 0;
    text-align: center;
    width: auto;
}

.footer--title{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: var(--main-Font);
    color: var(--main-color);
}

.footer--subtitle{
    font-family: var(--second-Font);
}
.footer--img{
    width: 15%;
    height: 5%;
    margin-top: -20%;
    margin-right: 80%;
}
.footer--img2{
    width: 15%;
    height: 5%;
    margin-left: 80%;
}
.footer--redes {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding: 10px;
    

}

.footer--contact{
    display: flex;
    position: relative;
    padding: 10px;
    width: auto;
    justify-content: space-evenly;

}

.contacto--date{
    padding: 10px;
    vertical-align: middle;
}

}
