@font-face {
    font-family: Boldenvan;
    src: url(/fonts/Boldenvan.ttf);
}

@font-face {
    font-family: Asdonuts;
    src: url(/fonts/Asdonuts.otf);
}

/* ROOT */
:root {
    --main-color: rgb(255, 37, 153);
    --second-color: rgb(189, 230, 255);
    --third-color: rgb(250, 211, 224);
    --fourth-color: rgb(255, 138, 176);
    --fifth-color: rgb(229, 203, 255);
    --menu-back: rgba(0, 0, 0, 0.5);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

/* BODY */

/* HEADER */

/* BARRA DE NAVEGACION */

/* DESCUENTO */

/* QUIENES SOMOS */

/* QUE DICEN DE NOSOTROS */
@media screen and (max-width: 480px) {
/* PREGUNTAS FRECUENTES */
.contenido__preguntasf {
    border: 1px black solid;
    text-align: justify;
    background-color: var(--fourth-color);
    width: auto;
    padding: 10px;
}


.titulo__preguntasf {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;

}

.preguntasf {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;

}

details {
    padding: 5px;
}

summary {
    padding: 10px;
}


/* DESTACADOS */

.destacados{
    border: 1px  black solid ;
    align-items: center;
}

.destacados__titulo {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.destacados__img{
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    height: 300px;
    padding: 10px;

}

/* SEGUINOS EN LAS REDES */
footer {
    margin: 0;
    border: 1px black solid;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: auto;
}

.footer__redes {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding: 10px;
    

}

.footer__contacto{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;    
    padding: 10px;
    width: auto;
    

}

.contacto__datos{
    padding: 10px;
    vertical-align: middle;
}

}